@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-shift-right-3LU1WH-685s {
  animation: shift-right-3LU1WH 685s linear forwards;
}

.animate-shift-right-3LU1WH-960s {
  animation: shift-right-3LU1WH 960s linear forwards;
}

.animate-shift-right-3LU1WH-1200s {
  animation: shift-right-3LU1WH 1200s linear forwards;
}

.animate-shift-right-3LU1WH-1600s {
  animation: shift-right-3LU1WH 1600s linear forwards;
}

.animate-shift-right-3LU1WH-2400s {
  animation: shift-right-3LU1WH 2400s linear forwards;
}

.animate-shift-right-3LU1WH-4800s {
  animation: shift-right-3LU1WH 4800s linear forwards;
}

.animate-hello-2FR9NG {
  animation: hello-2FR9NG 100s linear forwards;
  animation-delay: 180s;
}

@keyframes shift-right-3LU1WH {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(8000px);
    transform: translateX(8000px);
  }
}

@keyframes hello-2FR9NG {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	to {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}
}

@layer utilities {
  @variants responsive {
    .h-banner {
      min-height: 39rem !important;
    }

    .banner-gradient {
      background: linear-gradient(0deg, #7196ff -0.45%, #2a5ee8 71.18%);
    }

    .ml-hero-left {
      margin-left: -81.25rem !important;
    }

    .ml-hero-right {
      margin-left: 23rem !important;
    }

    .ml-castles-lg {
      margin-left: -31.6rem !important;
    }

    .ml-castles-md {
      margin-left: -54.4rem !important;
    }

    .min-size-hero-left {
      min-width: 48.3rem !important;
      min-height: 23rem !important;
    }

    .min-size-castles {
      min-width: 72rem !important;
      min-height: 13.3rem !important;
    }

    .min-size-hero-right {
      min-width: 59.3rem !important;
      min-height: 31rem !important;
    }

    .size-sparkles {
      min-width: 33.1rem;
      min-height: 6.25rem;
      max-width: 33.1rem;
      max-height: 6.25rem;
    }
  }
}
