@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .h-banner {
      min-height: 39rem !important;
    }
  
    .banner-gradient {
      background: linear-gradient(0deg, #7196ff -0.45%, #2a5ee8 71.18%);
    }
    
    .ml-hero-left {
      margin-left: -81.25rem !important;
    }
    
    .ml-hero-right {
      margin-left: 23rem !important;
    }

    .ml-castles-lg {
      margin-left: -31.6rem !important;
    }

    .ml-castles-md {
      margin-left: -54.4rem !important;
    }

    .min-size-hero-left {
      min-width: 48.3rem !important;
      min-height: 23rem !important;
    }

    .min-size-castles {
      min-width: 72rem !important;
      min-height: 13.3rem !important;
    }

    .min-size-hero-right {
      min-width: 59.3rem !important;
      min-height: 31rem !important;
    }

    .size-sparkles {
      min-width: 33.1rem;
      min-height: 6.25rem;
      max-width: 33.1rem;
      max-height: 6.25rem;
    }
  }
}
